<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorcado</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="contenedor">
        <h1>Ahorcado</h1>
        <p class="palabra_secreta" id="palabra_secreta">_ _ _ _ _ _ _ _</p>
        <p>Intentos Permitidos: <strong><span id="intentos_permitidos">6</span></strong></p>
        <div class="entrada">
            <input type="text" id="letra" maxlength="1" placeholder="Ingresa una letra">
            
        </div>
    </div>
    <div class="contenedor">
        <h2>Ultimos Puntajes</h2>
        <table>
            <thead>
                <tr>
                    <th>Puesto</th>
                    <th>Nombre</th>
                    <th>Puntaje</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody id="puntajes">
                <% for (let i = 0; i < puntajes.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= puntajes[i].nombre_usuario %></td>
                        <td><%= puntajes[i].valor_puntaje %></td>
                        <td><%= puntajes[i].fecha_puntaje %></td>
                    </tr>
                <% } %>

                <!-- <% puntajes.forEach((puntaje, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= puntaje.nombre_usuario %></td>
                        <td><%= puntaje.valor_puntaje %></td>
                        <td><%= puntaje.fecha_puntaje %></td>
                    </tr>
                <% }) %> -->
            </tbody>
        </table>
    </div>


    <script src="scripts/script.js"></script>
</body>
</html>
